body {
	background-color: gray;
	width: auto;
	height: 100%;
	background-size: cover;
	background-position: auto;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
}

header {
	width: 100%;
	text-align: center;
}

header > h1 {
	font-size: 5rem;
	font-weight: 900;
	color: white;
  text-shadow: 3px 3px 10px rgba(10, 10, 10, 1);
}

@media only screen and (max-width: 500px) {
  header > h1 {
    font-size: 3.5rem;
  }
  #weather-div {
    width: 90vw;
  }
}

main {
	width: 100%;
	text-align: center;
}

#weather-div {
	display: none;
	padding: 0.5rem 2rem 4rem 2rem;
	width: 60%;
	height: auto;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	color: rgb(10,10,10);
  box-shadow: 3px 3px 15px rgba(10, 10, 10, 0.6);
}

#location, #weather {
	font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(10, 10, 10, 0.5);
}

#degree {
	font-size: 2rem;
	font-weight: 700;
  text-shadow: 3px 3px 10px rgba(10, 10, 10, 0.5);
}

.deg-letter {
  color: white;
   text-shadow: 3px 3px 10px rgba(10, 10, 10, 1);
}

#description {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 2em;
  text-shadow: 3px 3px 10px rgba(10, 10, 10, 0.5);
}

.discription-color {
  color: white;
  text-shadow: 3px 3px 10px rgba(10, 10, 10, 1);
}

.icon {
	font-size: 17px;
	margin-right: 5px;
}

.location-icon {
	font-size: 20px;
	margin-right: 8px;
  color: white;
  margin-bottom: 2px;
}

.weather-btn {
	background-color: rgb(10,10,10);
	color: white;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px 15px;
	cursor: pointer;
	font-weight: bold;
	outline: none;
	text-transform: uppercase;
	font-size: 15px;
}

.weather-btn:hover {
	background-color: white;
	color: rgb(10,10,10);
}

#cel {
	display: none;
}

footer {
	width: 100%;
	font-size: smaller;
	text-align: center;
}

footer p {
	color: #a9a9a9;
    text-shadow: 2px 2px 1px black;
}

footer a {
	color: #a9a9a9;
	text-decoration: none;
}

footer a:hover {
	color: rgb(10,10,10);
}